name: Publish Docker image to ghcr.io

on: push

jobs:
  build-and-push-image:
    strategy:
      matrix:
        app: [elasticsearch, toolbox, mastodon]

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: metadata
        run: echo "tag=ghcr.io/ushitora-anqou/ket-${{ matrix.app }}:$(cat ${{ matrix.app }}/TAG)" >> "$GITHUB_OUTPUT"

      - name: Check if the image already exists
        id: existence-check
        run: |
          if docker manifest inspect ${{ steps.metadata.outputs.tag }}; then
            echo "b=0" >> "$GITHUB_OUTPUT"
          else
            echo "b=1" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.app }}
          push: true
          tags: ${{ steps.metadata.outputs.tag }}
        if: ${{ steps.existence-check.outputs.b == '1' }}
